<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <title>Amazona</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776; <!-- ASCII code for the sidebar menu icon -->
                </button>
                <a href="index.html">amazona</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="login.html">Login</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-btn" onclick="closeMenu()">x</button>
            <ul>
                <li><a href="index.html">Fan</a></li>
                <li><a href="index.html">Airconditioner</a></li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="fan1.jpg" alt="fan 1" />
                            <div class="product-name">
                                <a href="product.html">Mini Handheld Portable Fan</a>
                            </div>
                            <div class="product-brand">IPOW</div>
                            <div class="product-price">$13.99</div>
                            <div class="product-rating">4.8 stars (625 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="fan2.jpg" alt="fan 2" />
                            <div class="product-name">
                                <a href="product.html">Mini Flexible Tripod Clip On Fan</a>
                            </div>
                            <div class="product-brand">Amacool</div>
                            <div class="product-price">$19.99</div>
                            <div class="product-rating">4.9 stars (2,589 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="fan3.jpg" alt="fan 3" />
                            <div class="product-name">
                                <a href="product.html">Portable Neck Fan</a>
                            </div>
                            <div class="product-brand">COMLIFE</div>
                            <div class="product-price">$19.99</div>
                            <div class="product-rating">4.5 stars (1,623 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="https://images-na.ssl-images-amazon.com/images/I/51kxZt06SUL._AC_SL1000_.jpg" alt="fan 4" />
                            <div class="product-name">
                                <a href="product.html">Lady Handheld Portable Fan</a>
                            </div>
                            <div class="product-brand">JENTXON</div>
                            <div class="product-price">$13.99</div>
                            <div class="product-rating">4.4 stars (869 reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>

</html>